<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

  <!-- do not use import statements if CXFServlet init parameters link to this beans.xml -->
  <import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
  
  <bean id="timer" class="com.custardsource.parfait.timing.EventTimer">
  	<constructor-arg value="xx" />
  	<constructor-arg><bean class="com.custardsource.parfait.MonitorableRegistry" /></constructor-arg>
  	<constructor-arg>
  	  <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
  	    <property name="staticMethod" value="com.custardsource.parfait.timing.ThreadMetricSuite.withDefaultMetrics" />
  	  </bean>
  	</constructor-arg>
  	<constructor-arg value="true" />
  	<constructor-arg value="true" />
  </bean>

  <bean id="timerInjector" class="com.custardsource.parfait.spring.timing.SpringEventTimerInjector">
    <constructor-arg ref="timer" />
  </bean>


  
  <jaxrs:server id="myService" address="/">
    <jaxrs:inInterceptors>
      <ref bean="monitoring" />     
    </jaxrs:inInterceptors>
    <jaxrs:serviceBeans>
      <ref bean="restDemo" />       
    </jaxrs:serviceBeans>
  </jaxrs:server>
  <bean id="restDemo" class="com.custardsource.parfait.cxf.RestDemo" />
  <bean id="monitoring" class="com.custardsource.parfait.cxf.MonitoringInterceptor">
     <constructor-arg ref="timer" />
  </bean>
</beans>
