name: ci

on: [ push, pull_request ]

jobs:
  java8:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: install pcp
      run: |
        wget -qO - https://pcp.io/GPG-KEY-PCP | sudo apt-key add -
        sudo add-apt-repository 'deb https://performancecopilot.jfrog.io/artifactory/pcp-deb-release focal main' -y
        sudo apt-get update -q
        sudo apt-get install -y pcp-zeroconf pcp-gui
    - name: verify pcp install
      run: pcp
    - name: install java8
      run: sudo apt-get install -y openjdk-8-jdk
    - name: install maven
      run: sudo apt-get install -y maven
    - name: open up access
      run: sudo chmod o+w /var/lib/pcp/tmp/mmv
    - name: verify parfait
      run: mvn -B -V clean install verify
